* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fa-solid.fa-circle-chevron-down{
    color: aliceblue;
}

/* ===== Comienza Navbar ==== */
.navbar-brand {
    --bs-navbar-brand-color:aliceblue;   
}

.bg {
    background-image: linear-gradient(to top, #d8268e 0%, #fe5196 100%);
}



/* ===== Redes Sociales (Navbar)======*/
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-solid.fa-user.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl{
    color: aliceblue;
}

i.fa-brands.fa-instagram.fa-2xl:hover{
color: rgb(233, 13, 203);
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: rgb(22, 74, 245);
}

i.fa-brands.fa-github.fa-2xl:hover{
    color: rgb(0, 0, 0);
}

i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: #f00352;
}

.list-group-item {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

button.navbar-toggler{
    border-color: transparent;
}/* ===== termina Navbar =======*/

/* Baner*/
.banner {
    background-image: url(../Assets/IMG/banner-full.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    height: 500px;
}

/* Menú Lateral*/
#menu{
    z-index: 2;
    position: absolute;
}

.list-group-item.list-group-item-action {
    list-style-type: none;
    flex-basis: 80%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.2s ease;
    cursor: pointer;
    color: #2d2d2e;
    text-shadow: 2px 2px 4px #f5efef;
  }

  .list-item-name {
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
  }
  
  .list-group-item.list-group-item-action:hover {
    color: rgb(247, 22, 108);
    transform: translateY(-5px);
    background-color: transparent;
  }

  .list-group-item.list-group-item-action:hover .list-item-name {
    transform: translateY(20px);
    opacity: 1;
  }
  
  @media (max-width: 200px) {
    .navbar-menu {
      flex-direction: column;
      align-items: right;
      max-width: 80px;
    }
  
    .list-group-item.list-group-item-action {
      flex-basis: auto;
    }
  
    .list-group-item.list-group-item-action:hover .list-item-name .item-name-edit{
      transform: translateY(25px);
    }
  }

/* Nombre y Apellido*/
.display-1 {
    font-family: Georgia,serif;
    font-style:italic;
    color: rgb(241, 48, 129);
    text-shadow: 2px 2px 4px #8d8585;
    transform: translateY(8rem);
}

/* Titulo "Desarroladora Web Full Stack" */
.titulo-banner {
    font-family: 'Trebuchet MS', sans-serif;
    transform: translateY(6rem);
}

/*boton de edicion */
.btn.banner{
    position: absolute;
    z-index: 0;
}

  

/* ======Foto de Perfil =======*/
.foto-perfil{
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    width: 60%;
    padding-left: 5%;
}

 /* ====== Acerca de mi (texto) =======*/
.row.info-personal{
    height: 42rem;
    font-size: larger;
    font-family: 'Georgia', sans-serif;
    text-align: justify;
}

#presentacion{
    margin-top: 4rem;
} /* ======Termina Texto======= */

section.about {
    background-color:rgb(255, 247, 255);
}

/* ===== Boton descarga CV =====*/
.btn.btn-outline{
    background-color:#f04d84;
    border: 2px solid;
    font-size: x-small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

main{
    background-color: rgb(246, 250, 248);
}

/* ===== Secciones ======*/
section.experiencia, section.educacion, section.habilidades, section.proyectos, section.panel{
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}

#proyectos{
    padding: 2rem;
}

#footer {
    font-family: Verdana, sans-serif;
}

/* ===== Subtitulos de cada seccion =====*/
.subtitulo{
    font-family: Georgia,serif;
    font-style:italic;
    color: rgb(22, 22, 22);
    text-shadow: 2px 2px 4px #8d8585;
    font-size: 3rem;
}

/*=====Titulo de Curso=======*/
.titulo-curso {
    font-family: 'Expletus Sans', cursive;
}
.col .p-3{
    background-color: rgb(235, 234, 236);
}
/*=====Font info cursos====*/
.col-9.descripcion{
    font-family: 'Roboto', sans-serif;
}
.bg-light{
    background-color: antiquewhite;
}


section.login, section.registro{
    height: 50rem;
    margin-top: 8%;
}


/* ===== Circulos de Progreso ===== */
.progress-circle { 
    position: relative; 
    display: inline-block; 
    margin: 1rem; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #ebebeb; 
} 
.progress-circle:after { 
    content: ''; 
    display: inline-block; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    -webkit-animation: colorload 2s; 
    animation: colorload 2s;
} 

.progress-circle span { 
    font-size: 2rem; 
    color: #8b8b8b; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    display: block; 
    width: 90px; 
    height: 90px; 
    line-height: 90px; 
    margin-left: -45px; 
    margin-top: -45px; 
    text-align: center; 
    border-radius: 50%; 
    background: #fff; 
    z-index: 1; 
} 

.row.progress-circle-container.text-center{
    max-width: 100%;
}
.progress-circle span:after { 
    content: ""; 
    font-weight: 600; 
    color: #8b8b8b; 
}

.progress-circle.progress-50:after { 
    background-image: linear-gradient(-90deg, rgb(241, 48, 129) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(241, 48, 129) 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.progress-75:after { 
    background-image: linear-gradient(0deg, rgb(241, 48, 129) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(241, 48, 129) 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.progress-80:after { 
    background-image: linear-gradient(18deg, rgb(241, 48, 129) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(241, 48, 129) 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.progress-90:after { 
    background-image: linear-gradient(54deg, rgb(241, 48, 129) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(241, 48, 129) 50%, #ebebeb 50%, #ebebeb); 
}

.progress-circle.progress-100:after { 
    background-image: linear-gradient(90deg, rgb(241, 48, 129) 50%, transparent 50%, transparent), linear-gradient(270deg, rgb(241, 48, 129) 50%, #ebebeb 50%, #ebebeb); 
}

@keyframes colorload { 
    0% { opacity: 0; transform: rotate(0deg); } 100% { opacity: 1; transform: rotate(360deg); } 
} /* ===== termina Circulos de progreso ===== */

/* ===== Proyectos ====*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family:'Segoe UI', sans-serif;
}

.card:hover{
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.19);
    transform: translateY(-3%);
}

/* ===== Footer ====== */
footer{
    position:static;
    position: unset;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

/*up*/
.fa-regular.fa-circle-up{
    background-attachment: scroll;
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 9999;
    font-size:30px;
    color: #b8b3b3;
}

/*up
.boton_up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    border-radius:50%;
    border: 8px solid white;
    font-size:20px;
    color:white;
    background-color: transparent;
  }*/


/* ===== Redes Sociales Footer ====== */
.fab {
    color: aliceblue;
}

.edicion{
    height: 80vh;
}


#list-home-list.list-group-item-action.active{
    background-color: #f01a61;
    border-color: #f01a61;
}

#list-profile-list.list-group-item-action.active{
    background-color: #f01a61;
    border-color: #f01a61;
}

#list-messages-list.list-group-item-action.active{
    background-color: #f01a61;
    border-color: #f01a61;
}

#list-settings-list.list-group-item-action.active{
    background-color: #f01a61;
    border-color: #f01a61;
}

/*======Dashboard=====*/

#dashboard{
    background-color: rgb(226, 223, 223);
}

.item-name-edit {
    font-size: 30px;
    font-weight: 200;
    position: absolute;
    transform: translate(0, 100px);
    transition: transform 0.9s ease, opacity 0.5s ease;
    opacity: 0;
  }

  .list-group-item.list-group-item-action:hover .item-name-edit {
    transform: translateX(2px);
    opacity: 1;
  }